
/* estilo de los diseños de contenedores */

#diseno_contenedor {
}
#diseno_cabecera {
}
#diseno_contenido_left {
  float: left;
  /*width: 15%;   */
}

.diseno_contenido_right {
  float: left;

  background-color: #F1F1F1;
  border: 2px solid #CECEF6;
  border-radius: 10px;
  color: #000000;
  margin: 0;
  width: auto;
  min-width: 80%;

  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

#diseno_pie {
  clear: both;
}
