body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size:80%;
}

/* estilo de campo autocomplete
 * se esta colocando un icono al costado derecho
 * */
.ui-autocomplete-loading {
  background: white url('../images/tsdk/tsdk_anim_16x16.gif') right center no-repeat;
}

.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size:  80%;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 80%;
}

/* estilo de tooltip
 * */

.ui-tooltip
{
    font-size:10pt;
    font-family:Calibri;
}



