/* ============================------ */
/* estilos de los titulos de la tabla */

.tsdk_tabla_linkordenar_class{
    color: #FFFFFF;
    text-decoration: none;
}
.tsdk_tabla_linkordenar_class:visited{
    color: #FFFFFF;
    text-decoration: none
}
.tsdk_tabla_linkordenar_class:active{
    color: #FFFFFF;
    text-decoration: none
}

.tsdk_tabla_linkordenar_class:hover{
    color: #F5D0A9;
    text-decoration: underline
}