

	/* estilos de la tabla */
	.tvimportarexportar_class {
		border-spacing: 0px;
		border-collapse: collapse;
	}

	/* estilos de encabezado */
	.tvimportarexportar_class th {

	}

	/* estilos de cuerpo */
	.tvimportarexportar_class tbody tr {
			background: #DBE2F1;
			height:35px;
	}

	.tvimportarexportar_class tbody tr:hover {
		background-color: #F8EFFB;
	}

	.tvimportarexportar_class tbody td {
		text-align: left;
		border: 2px solid #FFFFFF;
		padding: 0.1em 0.5em;

	}

	.tvimportarexportar_titulo_class {
		padding: 0.1em 0.5em;
		background: #687EAB;
		color: #FFFFFF;
		height:35px;
	}


	/* estilos de pie de tabla */
