/* ============================------ */
/* estilos de los titulos de la tabla */

.tvbrowse_link_ordenar_class{
    color: #FFFFFF;
    text-decoration: none;
}
.tvbrowse_link_ordenar_class:visited{
    color: #FFFFFF;
    text-decoration: none
}
.tvbrowse_link_ordenar_class:active{
    color: #FFFFFF;
    text-decoration: none
}

.tvbrowse_link_ordenar_class:hover{
    color: #F5D0A9;
    text-decoration: underline
}

/* ============================--*/
/* estilos de la tabla */
.tvbrowse_tabla_class {
    border-spacing: 0px;
    border-collapse: collapse;
}

/* estilos de encabezado */
.tvbrowse_tabla_class  th {
    padding: 0.1em 0.5em;
    border-bottom: 2px solid #FFFFFF;

    background: #687EAB;
    color: #FFFFFF;
    text-align: left;
}

/* estilos de cuerpo */
.tvbrowse_tabla_class tbody tr {
        background: #DBE2F1;
}

.tvbrowse_tabla_class tbody tr:hover {
    background-color: #F8EFFB;
}

.tvbrowse_tabla_class tbody td {
    text-align: left;
    border-bottom: 0.5px solid #FFFFFF;
    border-right: 0.5px solid #FFFFFF;
    padding: 0.1em 0.5em;
}

.tvbrowse_tabla_noselected_classqqqqqq{
	background: #DBE2F1;
} 

.tvbrowse_tabla_selected_classqqqqq{
	background: #A9F5A9;
}

.tvbrowse_tabla_selected_class{
	background: #ECCEF5 !important;
}

.tvbrowse_tabla_noselected_class{
    background: #DBE2F1;
}

/* ============================--*/
/* estilos del mensaje */
.tvbrowse_mensaje_class {
    color: #FF0000;
    font-size: 15px;
}
