
/* ============================--*/
/* estilos de la tabla */
.tsdk_tabla_class {
    border-spacing: 0px;
    border-collapse: collapse;
}

/* estilos de encabezado */
.tsdk_tabla_class  th {
    padding: 0.1em 0.5em;
    border-bottom: 2px solid #FFFFFF;

    background: #687EAB;
    color: #FFFFFF;
    text-align: left;
}

/* estilos de cuerpo */
.tsdk_tabla_class tbody tr {
        background: #DBE2F1;
}

.tsdk_tabla_class tbody tr:hover {
    background-color: #F8EFFB;
}

.tsdk_tabla_class tbody td {
    text-align: left;
    border-bottom: 0.5px solid #FFFFFF;
    border-right: 0.5px solid #FFFFFF;
    padding: 0.1em 0.5em; 
}

.tsdk_tabla_noselected_class{
	background: #DBE2F1 
}

.tsdk_tabla_selected_class{
	background: #A9F500 !important;
}
